.container {
  // Base container styles
  width: 100%;
  box-sizing: border-box;

  // Flex layout variant
  &--flex {
    display: flex;
    flex-direction: row; // Default direction

    // Column direction modifier
    &--column {
      flex-direction: column;
    }

    // Justify content modifiers
    &--justify-start {
      justify-content: flex-start;
    }
    &--justify-center {
      justify-content: center;
    }
    &--justify-end {
      justify-content: flex-end;
    }
    &--justify-between {
      justify-content: space-between;
    }
    &--justify-around {
      justify-content: space-around;
    }
    &--justify-evenly {
      justify-content: space-evenly;
    }

    // Align items modifiers
    &--align-start {
      align-items: flex-start;
    }
    &--align-center {
      align-items: center;
    }
    &--align-end {
      align-items: flex-end;
    }
    &--align-stretch {
      align-items: stretch;
    }
    &--align-baseline {
      align-items: baseline;
    }

    // Wrap modifiers
    &--wrap-nowrap {
      flex-wrap: nowrap;
    }
    &--wrap-wrap-reverse {
      flex-wrap: wrap-reverse;
    }
    // Default wrap is already set by flexbox
  }

  // Grid layout variant
  &--grid {
    display: grid;
    // Default grid template can be overridden by parent styles or additional props
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  // Divider styles
  &__divider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__divider {
    width: 1px;
    height: 1px;
    background-color: var(--psc-color-border, #d9d9d9);
    flex-shrink: 0;

    // For vertical dividers in row layout
    .container--flex:not(.container--flex--column) & {
      width: 1px;
      height: 100%;
      min-height: 1rem;
    }

    // For horizontal dividers in column layout
    .container--flex--column & {
      width: 100%;
      height: 1px;
      min-width: 1rem;
    }
  }
}